/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('b.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    left: 32%;
    width: 420px;
    background: transparent;
    /* border: 2px solid rgba(255, 255, 255, .2); */
    /* backdrop-filter: blur(20px); */
    /* box-shadow: 0 0 10px rgba(0,0,0,.2); */
    color: rgb(10, 95, 129);
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background: salmon; */
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius:40px ;
    font-size: 16px;
    color: black;
    background-color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: black;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
/* .remember-forgot a{
    color: #fff;
    text-decoration: none;
} */
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #226A80;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
/* .wrapper .register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
} */
/* .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
} */
/* .register-link p a:hover{
    text-decoration: underline;
} */
@media screen and (max-width: 900px){
    .wrapper{
      left: 27%;
    }
  }
  @media screen and (max-width: 800px){
    .wrapper{
      left: 22%;
    }
  }
  @media screen and (max-width: 634px){
    .wrapper{
      left: 14%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .wrapper{
      left: 1%;
      width: 320px
    }
    .wrapper h1{
        font-size: 24px;
    }
    /* .form .column {
      flex-wrap: wrap;
    } */
    /* .form :where(.gender-option, .gender) {
      row-gap: 15px;
    } */
   
  }
  